.calculator {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "screenName screenName screenName screenName"
    "solveNumbers solveNumbers clearNumbers clearNumbers"
    "number number number minNumbers"
    "number number number mulNumbers"
    "number number number divNumbers"
    "number number number addNumbers";
    border: 8px solid gray;
    box-shadow: 5px 10px;
    
}
.solve{ 
    grid-area: solveNumbers;
    border: 10px black;
    background-color: lightcoral;
    font-weight: bold;
    font-size: 50px;
}

.number-list {
    grid-area: number;
    margin: 0;
    align-items: center;
}

.screen{
    grid-area: screenName;
    height:90px;
    width: 100%;
    background-color: pink;
    min-width: 0px;
    font-size: 30px;
}

.divide{
    grid-area: divNumbers;
    font-size: 70px;
    background-color: purple;
}

.subtract{
    grid-area: minNumbers;
    font-size: 80px;
    background-color: lightgreen;
}

.multiply{
    grid-area: mulNumbers;
    font-size: 80px;
    background-color: lightpink;
}

.add {
    grid-area: addNumbers;
    font-size: 80px;
    background-color: lightblue;
}

.calc-number {
    float: left;
    font-size: 50px;
    padding: 8px;
    border: lightblue 1px dashed;
    width: 45px;
    box-shadow: 1px 2px black; 
    margin: 6px;
}

.calc-number:nth-of-type(4),.calc-number:nth-of-type(7), .calc-number:nth-of-type(10){
    clear: left;
}

.calc-number:nth-of-type(10){
    border: none;
    box-shadow: none;
}

.calculator-container {
    background-color:lightyellow;
    margin: 0px;
    padding: 0px;
    width: 350px;
    height: 530px;
}

.clearNumbers {
    grid-area: clearNumbers;
    background-color: blue;
    font-weight: bold;
    font-size: 50px;
}

.footer {
    height: 50%;
}

div.calculator-container {
    margin-top: 35px
}