
.portfolio-container{
    padding-top: 100px;
    padding-bottom: 100px;
    
    .portfolio-component{
        display: flex;
        float: left;
        
    }

    .portfolio-tictactoe, .portfolio-calculator, .portfolio-socialcard, .portfolio-resume {
    border-style: dashed;
    border-color:green;
    border-width: 2.5px;
    padding: 100px;
    vertical-align: top;    
    


    }

}