.container {
    width: 75%;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    border: black;
    display: grid;
    grid-template-areas: 
    '1 2 '
    '3 4 '
    '5 6 '
}

.main-component { grid-area: 1;}
.skill-component { grid-area: 2;}
.experience-component { grid-area: 3;}
.education-component { grid-area: 4;}
.achievement-component { grid-area: 5;}
.extracurricular-component { grid-area: 6}

.logo {
    height: 130px;
    width: 30%;
}

