h1.container-experience span.container-growth span.container-education
.container-skills span.container-education span.container-achievements
span.container-extracurricular {
    font-size: 200px;
}
.container {
    width: 75%;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    border: black;
}
.container-growth {
    width: 300px;
    height: 100 px;
    padding-top: 100px;
}

.logo {
    height: 130px;
    width: 10%;
}

.main-name{
    text-align:center;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: $orange;
}


