.name{
    margin-bottom: 0;

}
h5{
    color:$orange;
}

.Name {
    margin: 0.05em;
}

.education-component span {
    margin: 0.20em;
}

.h5-component {
    margin: 0.10em; 
}

.AboutMe-component {
    background-color:hsl(275, 55%, 90%);
    padding: 5px 30px;
    width: 800px;
}

.Aboutmenametitle {
    margin: .010em;
}

.links{
    color:black
}